img#circle {
  width: 250px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  /* animation-play-state: paused; */
}

img#circle:hover {
  animation-play-state: paused;
  /* animation-play-state: running; */
}

img#pic {
  width: 200px;
  position: absolute;
  top: 185px;
  right: 35px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
